include ../mixins/sub-menu.pug

header.header 
  .container 
    .row.align-item-center 
      .col-3 
        .inner-logo 
          a(href="/")
            img(src="/images/logo.jfif")
      
      .col-9
        .inner-menu
          ul(class="flex")
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              -const pathProduct = "/products"
              a(href="/products" ) Sản phẩm 
              +sub-menu(layoutProductsCategory)
              ul 
                li 
                  a(href="/product/slug1") Mục 1
                  ul 
                    li 
                      a(href="/product/slug1-1") Mục 1-1
                    li 
                      a(href="/product/slug1-2") Mục 1-2
                      ul 
                        li 
                          a(href="/product/slug1-1") Mục 1-2-1
                        li 
                          a(href="/product/slug1-2") Mục 1-2-2