.header {
  margin-top: 20px;
}

.header .inner-logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.header .inner-menu {
  position: absolute;
  right: 10px;
}


.header .inner-menu .flex {
  display: flex;
  margin-top: 10px;
  list-style: none;
}

.header .inner-menu ul {
  list-style: none;
}


.header .inner-menu ul li {
  margin-right: 40px;
}

.header .inner-menu ul li a {
  text-decoration: none;
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: black;
  /* position: relative; */
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* .footer p{
  position: absolute;
  color: #fff;
  top: 10px;
  left: 45%;
} */
.product-item {
  position: relative;
  height: 340px;
  width: 250px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px black solid;
}



.product-item .inner-image {
  position: absolute;
  left: 20px;
  width: 200px;
}

.product-item .inner-image img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.product-item .item.featured {}

.all-content {
  position: absolute;
  left: 20px;
}

.product-item .inner-title {
  /* position: absolute; */
  font-size: 17px;
  margin-top: 190px;
  color: blue;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 3px 6px;
}

.product-item .inner-price-new {
  margin-top: 10px;
  left: 30px;
  color: green;
}

.product-item .inner-price-old {
  margin-top: 10px;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-discount {
  margin-top: 10px;
}

/* css header menu san pham*/
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px #ddd solid;
}

.sub-menu:hover>ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover>ul {
  display: block;
}

/* end css header menu san pham*/

/* show alert */
.info {
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 62px;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}


[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* end show alert */