header.header
  .container-fluid 
    .row.align-item-center 
      .col-10
        .inner-logo 
          a(href=`${prefixAdmin}/dashboard`) ADMIN

      .col-2
        div(styles="text-align: right")
          a(
            href=`${prefixAdmin}/auth/logout`
            class="btn btn-sm btn-danger"
          ) Đăng xuất